.user_details {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.user_details h1,
.user_details h2,
.user_details p {
  margin-bottom: 0.5em;
}

.user_details h1 {
  text-align: center;
  background-color: #222;
  color: #ffbb33;
  padding: 0.4em;
}

.user_details span {
  font-weight: bold;
}

.details_container {
  display: flex;
  flex-direction: column;
}
.details_container,
.service_form_container {
  border-bottom: 1px solid #7a7a7a;
  margin-bottom: 1.2em;
  padding-bottom: 1.2em;
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #222;
  border: none;
  color: #fff;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
  max-height: 40px;
  cursor: pointer;
}

.btn:hover {
  color: #ffbb33;
}

.user_info {
  text-align: center;
  margin-top: 1em;
}

